<!DOCTYPE html>
<html lang="en" class="dark" data-theme="dataverse">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ this.page.title }} - The DataVerse</title>

    {% framework extras %}
    {% styles %}
    <link rel="stylesheet" href="{{ 'assets/css/output.css'|theme }}">

  </head>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <body class="bg-dv-bg text-dv-text min-h-screen flex flex-col font-tilt">

    {% partial 'site/navbar' %}
   

    <main class="flex-grow w-full bg-dv-surface">
      {% page %}
    </main>

    {% partial 'site/footer' %}

    {% scripts %}


    {# ✅ Load cargo scripts only on the cargo page #}
    {% if this.page.id == 'cargo' %}

      <script src="{{ 'assets/js/cargo-table.js'|theme }}"></script>

    {% endif %}
  </body>
</html>
