<!DOCTYPE html>
<html lang="en" class="dark" data-theme="dataverse">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ this.page.title }} - The DataVerse</title>

    {% framework extras %}
    {% styles %}
    <style>[x-cloak] { display: none !important; }</style>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="{{ 'assets/css/output.css'|theme }}">
  </head>

  <body class="bg-dv-bg text-dv-text min-h-screen flex flex-col font-tilt">

    {% partial 'site/external-links' %}
    {% partial 'site/navbar' %}
   

    <main class="flex-grow w-full bg-dv-surface">
      {% page %}
    </main>

    {% partial 'site/footer' %}

    {% scripts %}
  </body>
</html>
