@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss/theme" layer(theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-dv-bg: #0a0a0f;
  --color-dv-surface: #12121a;
  --color-dv-text: #cfd8e3;
  --color-dv-soft: #66eaffcc;
  --color-dv-accent: #00fff4;
  --color-dv-accent2: #ff00ff;
}
